<main>
  <header>
    <h1 id="titulo">{{title}} </h1>
    <button (click)="getTasksFromService()">Get All Task</button>
    <app-new-task></app-new-task>
  </header>
  <br>
  <br>
    <article class="Contenido">
      <h1>{{TituloTareas}}</h1>
      <section class="tareas" *ngFor="let item of listaTareas">
        <div class="campos">Titulo:{{item.title}} - Descripción:{{item.description}}</div>
        <div class="campos">
          <button (click)="showTask(item)">Show</button>
          <!-- <button (click)="getQueryTask(item._id)">Show</button> -->
          <button (click)="onDeleteTask(item._id)">Delete</button>
        </div>
      </section>
    </article>
  <br>
  <br>

  <app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task>

</main>
