<br><br>
<article class="marco">
<h3>componente incrustado</h3>
<form (submit)="onNewTask()">
  <article class="ContenidoDetalle">
      <h1>Ingrese una Nueva Tarea</h1>
      <section class="CamposForm">
          <div class="campos2">Titulo:<input type="text" name="newTask.title" [(ngModel)]="newTask.title"></div>
          <div class="campos2">Descripción:<input type="text" name="newTask.description"  [(ngModel)]="newTask.description"></div>
          <div class="campos2">Estado:<input type="text" name="newTask.completed"  [(ngModel)]="newTask.completed"></div>
          <!-- <p>{{newTask | json}}</p> -->
          <div><input class="button" type="submit" value="Crear Tarea"></div>
      </section>

  </article>
</form>
</article>
